 body{
       padding:0;
       margin:0;
       font-family:Helvetica, Arial; 
    }
    .container{
        padding:1em;
        margin:50px auto;
        width:300px;
        background:#f2f2f2;
    }
    
    input[type=submit]{
        border:none;
        padding:15px;
        border:1px solid #575757;
        box-shadow:0 0 5px 0 #909090;
    }
    
    .wrapper{
        padding:1em;
    }